описываемый функционал:
1) просмотр каталога продукции компании (весь каталог в отдельно docx/pdf файле)
2) отдельная таблица в бд для цен в каталоге, цены обновляются каждые 2 недели поэтому нужно предусмотреть простую процедуру обновления цен)
3)формирование заказа (речь о b2b, поэтому прямой эквайринг отсутствует. в Приложении должен быть функционал по формированию коммерческого предложения - счета с реквизитами и нужным товаром). Соответственно предусмотрена карточка товара с заполнением полей о том сколько кг продукции требуется и в какой регион город осуществляется доставка) + на каждой карточке товара должна быть возможность сформировать заявку на получение бесплатных образцов продукции, здесь можно сделать выбор из 5кг 10 кг 20кг 30кг)
4) на этапе сформированного заказа должна быть возможность дополнить заказ документом на счет от транспортной компании за доставку заказа(загрузка доступна только менеджеру) + 2 поля для загрузки платежных документов (платежка за товар + платежка за доставку -загрузка доступна только клиентам)
5) отмена заказа при неоплате/не подтверждении в течении 72ч.
6)регистрация пользователя с полями: имя, фамилия, отчество, должность, выбор формата организации (ооо/ИП), реквизиты компании в частности Наименование организации, КПП, ОГРН, юридический адрес. Компания в бд создается отдельно, пользователь отдельно, но пользователь относится к определенной компании.
7) для компании должна быть реализована система лояльности в зависимости от количества кг, которое компания заказала. Для теста будем делать так: компании от 200 тонн скидка 2%, от 500 тонн 5%. Количество учитывается за последние 2 года. Соответсвтенно скидка распространяется на всех сотрудников этой компании.
8) отслеживание заказа
9)страница с сформированными заказами пользователя с которой можно перейти в отслеживание заказа
10)карточка продукции содержит характеристики пластиката: цвет по RAL, плотность по шору, температура хрупкости, показатель текучести расплава. Также на основе описания товаров из второго файла сделать метки, для какой продукции подходит данное сырье (например пл 1 для обуви и тд)
